/* 
01 typography
    -line height:
    default:1
    -font weight
    default:400

    colors
    -primary: #e67e22

    -tints:#fdf2e9;
    -shades:
    -accents:
    -greys:#555;
    #333

    shadows
    border-radius
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}
.hero {
  max-width: 130rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: 0.5px;
  color: #333;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.4rem;
}
.hero-img {
  width: 100%;
}
.btn:link,
.btn:visited {
  background-color: #e67e22;
  font-size: 20px;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;

  display: inline-block;
}
.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
}
.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
}
